In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
sns.set()

from sklearn.linear_model import LinearRegression

In [2]:
data=pd.read_csv('F:\\1.01. Simple linear regression.csv')

In [3]:
data.head()

    SAT   GPA
0  1714  2.40
1  1664  2.52
2  1760  2.54
3  1685  2.74
4  1693  2.83

In [4]:
x=data['SAT']
y=data['GPA']

In [5]:
x.shape

(84,)

In [6]:
y.shape

(84,)

In [8]:
x_matrix=x.values.reshape(-1,1)
x_matrix.shape

(84, 1)

In [9]:
reg=LinearRegression()
reg.fit(x_matrix,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
reg.score(x_matrix,y)         #R square

0.40600391479679765

In [12]:
reg.coef_                   #coefficient

array([0.00165569])

In [40]:
reg.intercept_               #intercept

0.275040299660279

# prediction

In [36]:
new_data=pd.DataFrame(data=[1740,1760],columns=['SAT'])
new_data

    SAT
0  1740
1  1760

In [37]:
reg.predict(new_data)

array([3.15593751, 3.18905127])

In [38]:
new_data['predicted_GPA'] =reg.predict(new_data)
new_data

    SAT  predicted_GPA
0  1740       3.155938
1  1760       3.189051